@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
@layer components {
	.nav__list {
		@apply self-start
		md:self-auto;
	}

	.nav__item {
		@apply text-2xl
		text-white;
	}

	.nav__sub-menu {
		@apply md:absolute
		hidden
		text-white w-48
		group-hover:block
		border-t-[0.3rem]
		border-transparent
		top-[3rem];
	}

	/* Remark: Link Animation */
	.lnk {
		@apply relative
		cursor-pointer
		py-2.5
		before:absolute
		before:h-0.5
		md:before:bottom-2
		before:top-10
		before:bg-[#1cc5dc]
		before:transition-all
		before:duration-500
		before:w-0
		before:right-0
		hover:before:left-0
		hover:before:right-auto
		hover:before:w-full;
	}
}
@layer utilities {
}
