@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.disable-tap-highlighter {
		-webkit-tap-highlight-color: transparent;
	}

	:root {
		--link-animation-width: 0;
		--left: 0;
		--right: auto;
	}
}
@layer components {
	.nav__list {
		@apply self-start
		md:self-auto;
	}

	.nav__item {
		@apply text-2xl
		inline-block
		cursor-pointer
		text-white;
	}

	.nav__sub-menu {
		@apply md:absolute
		text-white w-48
		md:hidden
		md:group-hover:block
		border-t-[0.3rem]
		border-transparent
		top-[3rem];
	}

	/* Remark: Link Animation */
	.lnk {
		@apply relative
		py-2.5
		before:absolute
		before:h-0.5
		md:before:bottom-2
		before:top-10
		before:bg-[#1cc5dc]
		before:transition-all
		before:duration-500
		before:left-[var(--left)]
		before:right-[var(--right)] 
		before:w-[var(--link-animation-width)]
		md:before:w-0
		md:before:right-0
		md:hover:before:left-0
		md:hover:before:w-full;
	}
}
@layer utilities {
}
